.App {
    height: 100vh;
}

.container {
    height: 99vh;
    min-width: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 3rem;
    max-width: 500px;
    width: 100%;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-list {
    display: flex;
    flex-direction: column;
    //align-items: center;
    padding: 5rem 3rem;
    width: 100%;
}

.debug {
    border: solid 1px red;
}